<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
	<appSettings>  
		<add key="Distrib_Folder" value="\\fs2-oduyu\CK2007\СК-11"/>
		<add key="Distrib_Folder_Runtime" value="Runtimes"/>
		<add key="Distrib_Folder_CK11" value="Дистрибутив клиента  СК-11"/>
		<add key="Service_User" value="Svc-ck11cl-oduyu"/>
		<add key="Service_domain" value="oduyu"/>		
	</appSettings> 
</configuration>
