<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="Distrib_Folder" value="\\fs2-oduyu\CK2007\СК-11" />
    <add key="Distrib_Folder_Runtime" value="Runtimes" />
    <add key="Distrib_Folder_CK11" value="Дистрибутив клиента  СК-11" />
    <add key="autoinstaller_CK11" value="AutoInstall CK11.exe" />
    <add key="installer_CK11" value="SetupClient.exe" />
    <add key="Service_User" value="Svc-ck11cl-oduyu" />
    <add key="Service_domain" value="oduyu" />
    <add key="MailServer" value="mail" />
    <add key="emailOikAdmin" value="ss@yug.so-ups.ru" />    
  </appSettings>  
</configuration>